@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bai+Jamjuree:ital,wght@0,500;0,600;0,700;1,400&family=Bebas+Neue&family=Commissioner:wght@400;500;700&family=DM+Serif+Display&family=Fredoka+One&family=Inter:wght@400;500;700&family=Karla:wght@400;700&family=Overpass:wght@400;700&family=Poppins:wght@400;500;600;700&family=Rubik+Gemstones&family=Rubik+Vinyl&family=Signika:wght@500&family=Space+Grotesk:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Commissioner;
}

body {
  background: #FAFAFA;
  position: relative;
}

main {
  width: 100%;
  height: 50vh;
  background-image: url(/images/image-hero-desktop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .ham {
  opacity: 0;
  position: fixed;
  right: 10%;
  top: 9%;
}
main .closeMenu {
  opacity: 0;
  position: fixed;
  right: 10%;
  top: 9%;
}
main .navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 20px 0;
}
main .navBar img {
  cursor: pointer;
}
main .navBar .links .closeMenu {
  display: none;
}
main .navBar .links ul {
  display: flex;
}
main .navBar .links ul li {
  list-style: none;
  margin: 0 12px;
  color: hsl(0deg, 0%, 100%);
  font-size: 16px;
  cursor: pointer;
}
main .navBar .links ul li:hover {
  color: hsl(0deg, 2%, 80%);
}

.page {
  width: 70%;
  margin: auto;
  margin-top: -10%;
}
.page .intro {
  width: 100%;
  padding: 40px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
}
.page .intro .master {
  transform: translateY(-70px);
}
.page .intro h1 {
  color: hsl(0deg, 0%, 0%);
  margin-top: 0;
  margin-bottom: 10px;
}
.page .intro p {
  color: hsl(0deg, 0%, 48%);
  font-size: 16px;
}
.page .intro .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}
.page .intro .buttons .button {
  padding: 10px 25px;
  font-size: 16px;
  color: #ffffff;
  background-color: hsl(176deg, 50%, 47%);
  border-radius: 20px;
  cursor: pointer;
}
.page .intro .buttons .button:hover {
  background: hsl(175deg, 50%, 21%);
}
.page .intro .buttons .button2:hover {
  background: hsl(0deg, 0%, 75%);
}
.page .intro .buttons .button2:hover p {
  font-size: 0.9rem;
}
.page .intro .buttons .button2 {
  background: hsl(0deg, 0%, 48%);
  width: 120px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.page .intro .buttons .button2 img {
  width: 35%;
}
.page .intro .buttons .button2 p {
  color: hsl(0deg, 0%, 0%);
  font-size: 14px;
  margin-right: 10px;
}
.page .prices {
  width: 100%;
  padding: 40px 60px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
  margin: 20px 0;
}
.page .prices .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page .prices .price .content {
  padding: 20px;
  color: hsl(0deg, 0%, 48%);
  font-size: 14px;
}
.page .prices .price .content span {
  font-family: 18px;
  font-weight: 700;
  font-size: 23px;
  color: hsl(0deg, 0%, 0%);
}
.page .prices .price hr {
  background: hsl(0deg, 0%, 48%);
  border: 5px;
}
.page .prices .loder {
  width: 100%;
  height: 10px;
  background: hsl(0deg, 0%, 48%);
  border-radius: 20px;
  margin: 20px 0;
  position: relative;
}
.page .prices .loder::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 10px;
  left: 0;
  border-radius: 20px;
  background-color: hsl(176deg, 50%, 47%);
}
.page .about {
  width: 100%;
  padding: 40px 60px;
  background-color: #ffffff;
  text-align: left;
  border-radius: 10px;
  margin: 20px 0;
}
.page .about h1 {
  font-weight: 700;
}
.page .about p {
  margin-top: 15px;
  padding-right: 15px;
  font-weight: 400;
  color: hsl(0deg, 0%, 48%);
  line-height: 2.5em;
}
.page .about .bambooStand {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid hsl(0deg, 0%, 48%);
  margin-top: 25px;
}
.page .about .bambooStand article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page .about .bambooStand article p {
  color: hsl(176deg, 50%, 47%);
}
.page .about .bambooStand p {
  margin: 20px 0;
}
.page .about .bambooStand h2 {
  display: flex;
  align-items: center;
}
.page .about .bambooStand h2 span {
  margin-left: 5px;
  font-size: 12px;
  color: hsl(0deg, 0%, 48%);
}
.page .about .bambooStand button {
  color: white;
  padding: 15px 20px;
  background: hsl(176deg, 50%, 47%);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.page .about .bambooStand button:hover {
  background: hsl(175deg, 50%, 21%);
}
.page .about .bambooStand .fade {
  color: hsl(0deg, 0%, 48%);
}
.page .about .bambooStand .fade p {
  color: hsl(176deg, 31%, 61%);
}
.page .about .bambooStand .fadeBtn {
  background: hsl(0deg, 0%, 48%);
}

.modal-ctn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(125, 125, 125, 0.327);
  display: none;
  justify-content: center;
  z-index: 98;
  transition: all 1s;
}
.modal-ctn .modal {
  width: 70%;
  padding: 40px 60px;
  max-height: 62%;
  background-color: #ffffff;
  text-align: left;
  border-radius: 10px;
  margin-top: 150px;
}
.modal-ctn .modal article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.modal-ctn .modal .bambooStand1 {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid hsl(0deg, 0%, 48%);
  margin-top: 25px;
}
.modal-ctn .modal .bambooStand1 label {
  display: flex;
  cursor: pointer;
  width: 100%;
}
.modal-ctn .modal .bambooStand1 label input {
  margin-right: 10px;
}
.modal-ctn .modal .bambooStand1 label article {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.modal-ctn .modal .bambooStand1 label article p {
  color: hsl(176deg, 50%, 47%);
}
.modal-ctn .modal .bambooStand1 .Successful {
  width: 100%;
  border-top: 1px solid hsl(0deg, 0%, 48%);
  display: none;
  flex-direction: column;
  align-items: center;
}
.modal-ctn .modal .bambooStand1 .Successful input {
  padding: 13px 20px;
  width: 80px;
  border-radius: 50px;
  border: 1px solid hsl(0deg, 0%, 48%);
  outline: none;
}
.modal-ctn .modal .bambooStand1 p {
  margin: 20px 0;
}
.modal-ctn .modal .bambooStand1 h2 {
  display: flex;
  align-items: center;
}
.modal-ctn .modal .bambooStand1 h2 span {
  margin-left: 5px;
  font-size: 12px;
  color: hsl(0deg, 0%, 48%);
}
.modal-ctn .modal .bambooStand1 button {
  color: white;
  padding: 15px 20px;
  background: hsl(176deg, 50%, 47%);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.modal-ctn .modal .bambooStand1 button:hover {
  background: hsl(175deg, 50%, 21%);
}
.modal-ctn .modal .bambooStand1 .fade {
  color: hsl(0deg, 0%, 48%);
}
.modal-ctn .modal .bambooStand1 .fade p {
  color: hsl(176deg, 31%, 61%);
}
.modal-ctn .modal .bambooStand1 .fadeBtn {
  background: hsl(0deg, 0%, 48%);
}

.modal2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(125, 125, 125, 0.327);
  display: none;
  justify-content: center;
  z-index: 99;
}
.modal2 .gotIt {
  width: 400px;
  height: 300px;
  padding: 5PX 20PX;
  margin-top: 150px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.modal2 .gotIt h2 {
  margin: 10px 0;
}
.modal2 .gotIt p {
  margin: 20px;
  color: hsl(0deg, 0%, 48%);
}
.modal2 .gotIt button {
  color: white;
  padding: 15px 20px;
  background: hsl(176deg, 50%, 47%);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
}
.modal2 .gotIt button:hover {
  background: hsl(175deg, 50%, 21%);
}

@media (min-width: 431px) {
  .ham {
    position: fixed;
    right: 10%;
    top: 9%;
  }
  .closeMenu {
    position: fixed;
    right: 10%;
    top: 9%;
  }
}
@media (max-width: 500px) {
  .navBar .links {
    display: none;
    position: fixed;
    background: hsl(176deg, 50%, 47%);
    border-radius: 10px;
    width: 80%;
    top: 20%;
    text-align: center;
    z-index: 2;
    transition: all 0.5s ease;
    padding: 10px;
    margin: auto;
  }
  .navBar .links ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .navBar .links ul .midull {
    border-top: 1px solid hsl(0deg, 0%, 48%);
    border-bottom: 1px solid hsl(0deg, 0%, 48%);
  }
  .navBar .links ul li {
    width: 90%;
    padding: 20px 0;
    color: black;
    text-align: left;
  }
  .page {
    width: 95%;
  }
  .page .prices {
    padding: 40px 20px;
  }
  .page .prices .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .page .intro h1 {
    font-size: 1.5rem;
  }
  .page .intro .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page .intro .buttons .button2 {
    width: 45px;
    border-radius: 50%;
    margin-left: 10px;
  }
  .page .intro .buttons .button2 img {
    width: 100%;
  }
  .page .intro .buttons .button2 p {
    display: none;
  }
  .page .about {
    padding: 40px 20px;
  }
  .page .about h2 {
    font-size: 1.5rem;
  }
  .page .about .bambooStand article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .modal-ctn .modal {
    width: 95%;
    padding: 40px 20px;
    height: 47%;
  }
  .modal-ctn .modal label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .modal-ctn .modal label input {
    margin-bottom: 10px;
  }
  .modal-ctn .modal label article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: none;
  }
}/*# sourceMappingURL=style.css.map */